<div class="flex flex-col mx-auto p-6">
    <h2 class="text-3xl font-bold mb-4">{{ trip != null ? trip.trip.name : "" }} - {{ trip != null ? trip.trip.country : "" }}</h2>

  <!-- Mapa -->
    <div class="flex content-center w-full justify-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070998.1548103387!2d10.074268762916923!3d41.26486482382604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2zV8WCb2NoeQ!5e0!3m2!1spl!2spl!4v1704580608288!5m2!1spl!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Opis szczegółowy -->
    <p class="mb-6">{{ trip != null ? trip.trip.description : "" }}</p>

    <!-- Cena i ocena -->
    <div class="mb-6">
        <span class="font-bold">Cena:</span> {{ (trip != null) ? (trip.trip.price | currency:currency) : "" }}
        <div class="rating">
            <app-trip-rating></app-trip-rating>
        </div>
    </div>

    <!-- Przyciski rezerwacji i rezygnacji -->
    <div class="buttons mb-6">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addToBasketTrip()">+</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="removeFromBasketTrip()">-</button>
    </div>

  <app-reviews [tripId]="trip?.trip?.id!"></app-reviews>

    <!-- Link powrotny do listy wycieczek -->
    <a routerLink="/trips" class="text-blue-600 hover:text-blue-800">Powrót do listy wycieczek</a>
</div>
