<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a routerLink="/" class="text-lg font-bold">Biuro Turystyczne</a>
        <div class="flex space-x-4">
            <a routerLink="/trips" class="hover:text-blue-300">Oferta</a>
            <a routerLink="/addTrip" class="hover:text-blue-300">Dodaj Wycieczkę</a>
<!--            <a routerLink="/purchase-history" class="hover:text-blue-300">Historia Zakupów</a>-->
        </div>
        <app-cart-widget></app-cart-widget>
    </div>
</nav>
