Test
<div *ngFor="let trip of trips" class="card">
  <img [src]="trip.image" alt="Zdjęcie wycieczki" class="rounded-image">
  <div class="card-body">
    <h5 class="card-title">{{ trip.name }}</h5>
    <p class="card-text">{{ trip.description }}</p>
    <p class="card-text">Kraj: {{ trip.country }}</p>
    <p class="card-text">Data: od {{ trip.startDate }} do {{ trip.endDate }}</p>
    <p class="card-text">Cena: {{ trip.price }} zł</p>
    <p class="card-text">Dostępne miejsca: {{ trip.maxSeats > 0 ? trip.maxSeats : 'Brak miejsc' }}</p>
    <button (click)="book(trip)" [disabled]="trip.maxSeats === 0" class="btn btn-primary">+</button>
    <button (click)="cancel(trip)" [disabled]="trip.maxSeats === 20" class="btn btn-secondary">-</button>
  </div>
</div>

