<div class="container mx-auto p-6">
  <div class="text-center mb-12">
    <h1 class="text-5xl font-bold mb-4">Biuro Turystyczne "Przygoda"</h1>
    <p class="text-lg">Przygoda czeka! Odkryj niezapomniane wycieczki z nami.</p>
  </div>

  <div class="bg-white rounded-lg overflow-hidden shadow-lg mb-12" data-aos="fade-up" data-aos-duration="1000">
    <img src="https://images.unsplash.com/photo-1555400038-63f5ba517a47" alt="O nas" class="w-full object-cover h-64">
    <div class="p-6">
      <h2 class="text-3xl font-bold text-green-600 mb-4">O nas</h2>
      <p>Witamy w Biurze Turystycznym "Przygoda" - Twoim przewodniku po świecie niezapomnianych wrażeń i odkryć...</p>
    </div>
  </div>

  <div class="bg-white rounded-lg overflow-hidden shadow-lg mb-12" data-aos="fade-up" data-aos-duration="1000">
    <img
      src="https://images.unsplash.com/photo-1577717903315-1691ae25ab3f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Oferta" class="w-full object-cover h-64">
    <div class="p-6">
      <h2 class="text-3xl font-bold text-blue-600 mb-4">Co oferujemy</h2>
      <p>Nasza oferta obejmuje szeroki wachlarz destynacji, od zacisznych zakątków Europy po egzotyczne plaże
        Azji...</p>
    </div>
  </div>
  <div class="bg-white rounded-lg overflow-hidden shadow-lg mb-12" data-aos="fade-up" data-aos-duration="1000">
    <img
      src="https://images.unsplash.com/photo-1585086814044-71b3843c05e8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Kontakt" class="w-full object-cover h-64">
    <div class="p-6">
      <h2 class="text-3xl font-bold text-orange-600 mb-4">Kontakt</h2>
      <p>Adres: Twoja ulica, Miasto</p>
      <p>Telefon: 123 456 789</p>
      <p>Email: kontaktAbiuroturystyczne.pl</p>
    </div>
  </div>

  <div class="flex content-center w-full justify-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d281.1017452838083!2d19.9082422147302!3d50.06899001670811!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b8229a94d6b%3A0xd69d936ad4e89846!2sKapitol%20-%20Dom%20Studencki%20(DS)%2014!5e0!3m2!1spl!2spl!4v1704580354592!5m2!1spl!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
